@font-face{
    src: url(logoFont.ttf);
    font-family: logoFont;
}

#logoText{
    font-family: logoFont;
    font-size: 35px;
}
#logo{
    width: 65px;
    padding-top: 5px;
}
#menu{
    margin-bottom: 170px;
}
.listEl{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.listEl:hover{
    color: grey;
}
.maincontainer{
    justify-content: center;
}
#zenek{
    background-image: url("/static/images/assistant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#mainPicture{
    background-image: url("/static/images/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.avatar{
    max-width: 45x;
    max-height:45px;
    margin: 0 auto;
    border-radius: 30%;
    margin-left: 60px;
    margin-top: 5px;
    margin-right: 5px;
}
.profile-pic{
    max-width: 320px;
    max-height:320px;
    margin: 0 auto;
    border-radius: 40%;
}