@font-face{
    src: url(logoFont.ttf);
    font-family: logoFont;
}

#logoText{
    font-family: logoFont;
    font-size: 35px;
}
#logo{
    width: 65px;
    padding-top: 5px;
}
.listEl{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.listEl:hover{
    color: grey;
}