{% extends 'main.html' %}

{% block content %}

<div class="container-fluid" id="mainPicture">
    <div class="container h-100">
        <div class="row h-100 align-items-start">
          <div class="col-12 text-start" style="margin-top: 10em;">
            <h1 class="fw-light fs-2">Think ahead.<br>
              &nbsp;&nbsp;&nbsp;&nbsp;Take care of your finances.<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start now with YourPocket and enjoy<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;new opprotunities and horizonts.
            </h1>
          </div>
        </div>
      </div>
</div>


{% endblock content %}