{% extends 'main.html' %}

{% block content %}
<main>
    <div class="row mx-3 my-5">
        <div class="card card-body">
            Now you can enter your new password.
            <p class="text-danger fw-bold"><br>Remember about keeping your password strong:<br>
            - combine low and capital letters<br>- use special signs<br>
            - do not use obvious strings of signs<br>
            - keep your password long</nav></p>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {{field.label}}:&nbsp;&nbsp;{{field}}<br><br>
                {% endfor %}

                <input class="btn btn-warning" type="submit" value="Confirm" >
            </form>
        </div>
    </div>
</main>
{% endblock content %}