{% extends 'main.html' %}

{% block content %}
<main style="margin-bottom: 380px;">
    <div class="row mx-3 my-5">
        <div class="card card-body">
            <p>
                We' ve emailed you instructions for setting your new password, if an account exists with the email you entered. You should receive them shortly.
                If you don't receive the email, please make sure if you've entered the right email. You may check your spam folder as well.
            </p>        
        </div>
    </div>
</main>
{% endblock content %}