{% extends 'main.html' %}

{% block content %}
<main style="margin-bottom: 380px;">
    <div class="row my-3 mx-5">
        <div class="card card-body">
            <h3 class="fw-bold">Reset your password</h3>
            <p>Forgotten your password??? Enter your email adress below,
                and we will email instructions for setting a new one.</p>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <input class="btn btn-warning" type="submit" value="Reset your password" >
            </form>
        </div>
    </div>
</main>
{% endblock content %}