{% extends 'main.html' %}

{% block content %}
<style>
#logoText2{
    font-family: logoFont;
    font-size: 30px;
}
</style>
<main>
    <div class="row mx-3 my-5">
        <div class="card card-body">
            <h3 class="fw-bold">Password reset completed</h3>
            <p>Your password has been updated. You can now go login to your profile.
                Hope you haven't had any troubles, while reseting your password.
            </p>
            <div class="mx-3 mb-4"><span id="logoText2">YourPocket</span>&nbsp;&nbsp;<span class="fs-4">Team</span></div>
            <a class="btn btn-warning" href="{% url 'login' %}">Login</a>
        </div>
    </div>
</main>
{% endblock content %}